<site-navbar />
<main class="p-10">
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-bold">Welcome Back, User</h1>
    <hr />
  </div>
  <div class="space-y-5 w-full h-full mt-5">
    <stats [activeEmployees]="organization.userIds?.length ?? 0" [projectCount]="organization.projectIds?.length ?? 0" [overdueTasks]="organization.taskIds?.length ?? 0" [pendingTasks]="organization.taskIds?.length ?? 0" />
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-5 h-full">
      <ongoing-tasks />
      <top-performers />
    </div>
  </div>
</main>

