<hlm-toaster />
<div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
    <!-- Password Section -->
    <div class="flex flex-col gap-3">
      <h1 class="text-xl font-bold">Password</h1>
      <p>Please enter your current password to change the password</p>
    </div>
    <hr />

    <!-- Current Password -->
    <div class="flex flex-col gap-5 w-full">
      <div class="w-full flex flex-col gap-5">
        <div class="flex items-center justify-between w-full">
          <label hlmLabel for="currentPassword">Current Password *</label>
          <div class="w-3/4 flex flex-col gap-2">
            <input
              hlmInput
              id="currentPassword"
              type="password"
              formControlName="currentPassword"
              placeholder="Enter your current password"
              class="w-3/4"
            />
            <span
              *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched"
              class="text-red-500 text-xs"
            >
            Current password is required.
          </span>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <!-- New Password -->
    <div class="flex flex-col gap-5 w-full">
      <div class="w-full flex flex-col gap-5">
        <div class="flex items-center justify-between w-full">
          <label hlmLabel for="newPassword">New Password *</label>
          <div class="w-3/4 flex flex-col items-start gap-2">
            <input
              hlmInput
              id="newPassword"
              type="password"
              formControlName="newPassword"
              placeholder="Enter your new password"
              class="w-3/4"
            />
            <p class="text-xs text-muted-foreground">Your new password must be more than 8 characters</p>
            <span
              *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
              class="text-red-500 text-xs"
            >
            New password must be at least 8 characters long.
          </span>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="flex flex-col gap-5 w-full">
      <div class="w-full flex flex-col gap-5 py-5">
        <div class="flex items-center justify-between w-full">
          <label hlmLabel for="confirmPassword">Confirm Password *</label>
          <div class="w-3/4 flex flex-col gap-2">
            <input
              hlmInput
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
              placeholder="Re-enter your password"
              class="w-3/4"
            />
            <span
              *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched"
              class="text-red-500 text-xs"
            >
            Passwords do not match.
          </span>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex items-center justify-end gap-5 w-full">
      <button hlmBtn variant="outline" type="button" (click)="onCancel()">Cancel</button>
      <button hlmBtn type="submit" [disabled]="passwordForm.invalid">Save</button>
    </div>
  </form>

  <div class="mt-5">
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-3">
        <h1 class="text-lg font-bold">Where you&apos;ve logged in?</h1>
        <p class="text-sm text-muted-foreground">We will alert you via email if there is any unusual activity on your account</p>
      </div>
      <hr />
    </div>

    <div class="h-96 overflow-y-scroll flex flex-col items-start gap-5 w-full custom-scrollbar mt-5 p-4">
      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
            <p hlmBadge class="w-fit">Active now</p>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
            <p hlmBadge class="w-fit">Active now</p>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>


    </div>
  </div>

</div>
