# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules
pnpm-lock.yaml
package-lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
target/
*.launch
.settings/
*.sublime-workspace
**/target

# Visual Studio Code
.vscode
.history

# Miscellaneous
.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Spring Boot
target

# System files
.DS_Store
Thumbs.db

./frontend/envrionments/**