<hlm-toaster />
<div>
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-3">
      <h1 class="text-xl font-bold">Password</h1>
      <p>Please enter your current password to change the password</p>
    </div>
    <hr />
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div class="flex items-center justify-between w-full">
        <label hlmLabel>Current Password *</label>
        <div class="w-3/4 flex items-center gap-5">
          <input hlmInput type="password" required placeholder="Enter your current password" class="w-3/4" />
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div class="flex items-center justify-between w-full">
        <label hlmLabel>New Password *</label>
        <div class="w-3/4 flex flex-col items-start gap-3">
          <input hlmInput type="password" required placeholder="Enter your new password" class="w-3/4" />
          <p class="text-xs text-muted-foreground">Your new password must be more than 8 characters</p>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div class="flex items-center justify-between w-full">
        <label hlmLabel>Confirm Password *</label>
        <div class="w-3/4 flex items-center gap-5">
          <input hlmInput type="password" required placeholder="Re enter your password" class="w-3/4" />
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="flex items-center justify-end gap-5 w-full">
    <button hlmBtn variant="outline">Cancel</button>
    <button hlmBtn>Save</button>
  </div>

  <div class="mt-5">
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-3">
        <h1 class="text-lg font-bold">Where you&apos;ve logged in?</h1>
        <p class="text-sm text-muted-foreground">We will alert you via email if there is any unusual activity on your account</p>
      </div>
      <hr />
    </div>

    <div class="h-96 overflow-y-scroll flex flex-col items-start gap-5 w-full custom-scrollbar mt-5 p-4">
      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
            <p hlmBadge class="w-fit">Active now</p>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
            <p hlmBadge class="w-fit">Active now</p>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>

      <div hlmCard class="w-full">
        <div hlmCardHeader>
          <div class="flex items-center gap-2">
            <h3 hlmCardTitle>2024 Macbook Pro 14 Inch</h3>
          </div>
          <p hlmCardDescription>Chennai, India - 22 Jan at 10:40 AM</p>
        </div>
      </div>


    </div>
  </div>

</div>