<div class="w-full overflow-x-auto custom-scrollbar p-4">
	<div class="grid grid-cols-4 gap-5 min-w-[1200px]">
		<div
			*ngFor="let column of columns; let columnIndex = index"
			class="flex flex-col gap-5 w-full flex-shrink-0"
		>
			<!-- Column Header -->
			<div [ngClass]="[column.color, 'px-6 py-4 flex items-center gap-2 rounded-lg bg-opacity-30']">
				<div [ngClass]="[column.color, 'rounded-full h-4 w-4 border-4 border-white']"></div>
				<p>{{ column.name }}</p>
			</div>
			
			<!-- Column Content (Drag and Drop) -->
			<div
				cdkDropList
				[cdkDropListData]="column.tasks"
				[cdkDropListConnectedTo]="getConnectedDropLists()"
				(cdkDropListDropped)="onTaskDrop($event)"
				[id]="'list-' + columnIndex"
				class="flex flex-col overflow-y-scroll h-96 custom-scrollbar p-4 gap-5"
			>
				<!-- Iterate over tasks in each column and use TaskCardComponent -->
				<div *ngFor="let task of column.tasks" cdkDrag [cdkDragData]="task">
					<admin-project-board-tab-task-card [task]="task" />
				</div>
			</div>
		</div>
	</div>
</div>
