<team-lead-navbar />
<main class="p-10">
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-bold">Activity Logs</h1>
    <hr />
  </div>
  <div class="mt-5 w-full">
    <div class="w-full">
      <div class="flex justify-between gap-4">
        <input
          hlmInput
          class="w-full md:w-80"
          placeholder="Filter logs..."
          [ngModel]="_logFilter()"
          (ngModelChange)="_rawFilterInput.set($event)"
        />

        <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
          <p>Columns</p>
          <ng-icon name="lucideChevronDown" class="ml-2" />
        </button>
        <ng-template #menu>
          <hlm-menu class="w-32">
            @for (
                    column of _brnColumnManager.allColumns;
                track column.name
              ) {
              <button
                hlmMenuItemCheckbox
                [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
                [checked]="_brnColumnManager.isColumnVisible(column.name)"
                (triggered)="_brnColumnManager.toggleVisibility(column.name)"
              >
                <hlm-menu-item-check />
                <span>{{ column.label }}</span>
              </button>
            }
          </hlm-menu>
        </ng-template>
      </div>

      <brn-table
        hlm
        stickyHeader
        class="border-border mt-4 block h-[51vh] overflow-auto custom-scrollbar rounded-md border w-full"
        [dataSource]="_filteredSortedPaginatedLogs()"
        [displayedColumns]="_allDisplayedColumns()"
        [trackBy]="_trackBy"
      >
        <brn-column-def name="select" class="w-12">
          <hlm-th *brnHeaderDef>
            <hlm-checkbox
              [checked]="_checkboxState()"
              (changed)="handleHeaderCheckboxChange()"
            />
          </hlm-th>
          <hlm-td *brnCellDef="let element">
            <hlm-checkbox
              [checked]="_isLogSelected(element)"
              (changed)="toggleLog(element)"
            />
          </hlm-td>
        </brn-column-def>
        <brn-column-def name="timestamp" class="w-40">
          <hlm-th truncate *brnHeaderDef>
            <button
              hlmBtn
              size="sm"
              variant="ghost"
              (click)="handleTimestampSortChange()"
            >
              Timestamp
              <ng-icon class="ml-3" name="lucideArrowUpDown" />
            </button>
          </hlm-th>
          <hlm-td truncate *brnCellDef="let element">
            {{ element.timestamp | date: "short" }}
          </hlm-td>
        </brn-column-def>
        <brn-column-def name="user" class="w-32">
          <hlm-th *brnHeaderDef>User</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.user }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="action" class="w-40">
          <hlm-th *brnHeaderDef>Action</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.action }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="category" class="w-40">
          <hlm-th *brnHeaderDef>Category</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.category }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="status" class="w-32">
          <hlm-th *brnHeaderDef>Status</hlm-th>
          <hlm-td *brnCellDef="let element">{{ element.status }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="actions">
          <hlm-th *brnHeaderDef></hlm-th>
          <hlm-td *brnCellDef="let element">
            <button
              hlmBtn
              variant="ghost"
              size="icon"
              align="end"
              [brnMenuTriggerFor]="menu"
            >
              <ng-icon name="heroEllipsisHorizontal" />
            </button>

            <ng-template #menu>
              <hlm-menu>
                <hlm-menu-label>Actions</hlm-menu-label>
                <hlm-menu-separator />
                <hlm-menu-group>
                  <button hlmMenuItem>Copy Action</button>
                </hlm-menu-group>
                <hlm-menu-separator />
                <button hlmMenuItem>View User</button>
              </hlm-menu>
            </ng-template>
          </hlm-td>
        </brn-column-def>
        <div
          class="flex items-center justify-center p-20 text-muted-foreground"
          brnNoDataRow
        >
          No data
        </div>
      </brn-table>

      <div
        class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
        *brnPaginator="
          let ctx;
          totalElements: _totalElements();
          pageSize: _pageSize();
          onStateChange: _onStateChange
        "
      >
        <span class="${hlmMuted} text-sm"
        >{{ _selected().length }} of {{ _totalElements() }} row(s)
          selected</span
        >
        <div class="mt-2 flex items-center gap-5 sm:mt-0">

          <button hlmBtn variant="outline" align="end" size="sm" [brnMenuTriggerFor]="pageSizeTrigger">
            <p>{{ _pageSize() === 10000 ? "All" : _pageSize() }}</p>
            <ng-icon name="lucideChevronDown" class="ml-2" />
          </button>
          <ng-template #pageSizeTrigger>
            <hlm-menu class="w-32">
              @for (size of _availablePageSizes; track size) {
                <button
                  hlmMenuItemCheckbox
                  (click)="onOptionForPageSize(size)"
                >
                  <hlm-menu-item-check />
                  <span>{{ size === 10000 ? "All" : size }}</span>
                </button>
              }
            </hlm-menu>
          </ng-template>

          <div class="flex space-x-1">
            <button
              size="sm"
              variant="outline"
              hlmBtn
              [disabled]="!ctx.decrementable()"
              (click)="ctx.decrement()"
            >
              Previous
            </button>
            <button
              size="sm"
              variant="outline"
              hlmBtn
              [disabled]="!ctx.incrementable()"
              (click)="ctx.increment()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>