<div>
  <div class="flex flex-col gap-5">
    <h1 class="text-2xl font-bold">Notifications</h1>
    <p>Select when and how you&apos;ll be notified</p>
    <hr />
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div
        class="xl:flex xl:items-start items-center justify-between w-full gap-5"
      >
        <label hlmLabel class="flex flex-col items-start gap-2 xl:w-2/5 w-full">
          <p class="text-lg font-semibold">General Notifications</p>
          <p>
            Select when you&apos;ll be notified when the following changes occur
          </p>
        </label>
        <div
          class="xl:w-3/5 w-full flex flex-col items-start gap-5 mt-5 xl:mt-0"
        >
          <div class="flex flex-col gap-5 w-full">
            <div
              class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full"
            >
              <p>I&apos;m mentioned in a message</p>
              <div class="flex items-center mt-3 lg:mt-0">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>

            <hr />
          </div>

          <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full">
              <p>Someone replies to any message</p>
              <div class="flex items-center lg:mt-0 mt-3">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>
            <hr />
          </div>

          <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full">
              <p>I&apos;m assigned to a task</p>
              <div class="flex items-center lg:mt-0 mt-3">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>
            <hr />
          </div>

          <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full">
              <p>A task is overdue</p>
              <div class="flex items-center lg:mt-0 mt-3">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>
            <hr />
          </div>

          <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full">
              <p>A task status is updated</p>
              <div class="flex items-center lg:mt-0 mt-3">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div
        class="xl:flex xl:items-start items-center justify-between w-full gap-5"
      >
        <label hlmLabel class="flex flex-col items-start gap-2 xl:w-2/5 w-full">
          <p class="text-lg font-semibold">Summary Notifications</p>
          <p>
            Select when you&apos;ll be notified when the following summaries or reports are ready
          </p>
        </label>
        <div
          class="xl:w-3/5 w-full flex flex-col items-start gap-5 mt-5 xl:mt-0"
        >
          <div class="flex flex-col gap-5 w-full">
            <div
              class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full"
            >
              <p>Daily Summary</p>
              <div class="flex items-center mt-3 lg:mt-0">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>

            <hr />
          </div>

          <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full">
              <p>Weekly Summary</p>
              <div class="flex items-center lg:mt-0 mt-3">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>
            <hr />
          </div>

          <div class="flex flex-col gap-5 w-full">
            <div class="flex flex-col lg:flex-row lg:items-center items-start justify-between w-full">
              <p>Monthly Summary</p>
              <div class="flex items-center lg:mt-0 mt-3">
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  None
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  In App
                </button>
                <button hlmBtn variant="outline" size="lg" class="rounded-none">
                  Email
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>