<hlm-dialog>
	<button brnDialogTrigger hlmBtn>Add New Project</button>
	<hlm-dialog-content class="max-w-4xl w-full" *brnDialogContent="let ctx">
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Add New Project</h3>
			<p hlmDialogDescription>Fill in the details below to create a new project.</p>
		</hlm-dialog-header>
		
		<form [formGroup]="projectForm" (ngSubmit)="submitForm()">
			<div class="flex flex-col gap-5">
				<div class="w-full flex flex-col gap-3">
					<label hlmLabel for="projectName">Project Name</label>
					<input
						hlmInput
						id="projectName"
						placeholder="Enter project name"
						type="text"
						class="w-full"
						formControlName="projectName"
					/>
				</div>
				
				<div class="flex flex-col gap-3 w-full">
					<label hlmLabel>Project Description</label>
					<textarea
						hlmInput
						placeholder="Enter project description"
						class="w-full h-48"
						formControlName="projectDescription">
          </textarea>
				</div>
				
				<div class="w-full flex flex-col gap-3">
					<label hlmLabel for="projectCategory">Project Category</label>
					<brn-select
						class="inline-block w-full"
						id="projectCategory"
						placeholder="Select project category"
						[multiple]="true"
						formControlName="projectCategory">
						<hlm-select-trigger class="w-full">
							<hlm-select-value />
						</hlm-select-trigger>
						<hlm-select-content class="h-32 overflow-y-scroll custom-scrollbar">
							<hlm-option *ngFor="let category of categories" [value]="category.value">
								{{ category.name }}
							</hlm-option>
						</hlm-select-content>
					</brn-select>
				</div>
			
			</div>
			
			<hlm-dialog-footer>
				<button hlmBtn variant="outline" (click)="ctx.close()">Cancel</button>
				<button hlmBtn type="submit" [disabled]="projectForm.invalid">Add Project</button>
			</hlm-dialog-footer>
		</form>
	</hlm-dialog-content>
</hlm-dialog>
