<admin-navbar />
<main class="p-10">
	<div class="flex flex-col gap-5">
		<h1 class="text-2xl font-bold">Settings</h1>
		<hr />
	</div>
	<div class="mt-5 w-full">
		<hlm-tabs tab="my-details" class="mx-auto">
			<div class="relative rounded-sm overflow-x-scroll lg:overflow-x-hidden overflow-y-hidden custom-scrollbar h-10 bg-muted">
				<hlm-tabs-list class="w-full">
					<button class="w-full" hlmTabsTrigger="my-details">My Details</button>
					<button class="w-full" hlmTabsTrigger="company-profile">Company Profile</button>
          <button class="w-full" hlmTabsTrigger="appearance">Appearance</button>
					<button class="w-full" hlmTabsTrigger="password">Password</button>
					<button class="w-full" hlmTabsTrigger="team">Team</button>
					<button class="w-full" hlmTabsTrigger="email">Email</button>
					<button class="w-full" hlmTabsTrigger="notifications">Notifications</button>
				</hlm-tabs-list>
			</div>

			<div hlmTabsContent="my-details" class="mt-5">
        <admin-settings-profile-tab />
      </div>

      <div hlmTabsContent="company-profile" class="mt-5">
        Company Profile Tab
      </div>

      <div hlmTabsContent="appearance" class="mt-5">
        <admin-settings-appearance-tab />
      </div>

      <div hlmTabsContent="password" class="mt-5">
        <admin-settings-password-tab />
      </div>
			
			<div hlmTabsContent="team" class="mt-5">
				<admin-settings-team-tab />
      </div>
			
			<div hlmTabsContent="email" class="mt-5">
        Email Tab
      </div>
			
			<div hlmTabsContent="notifications" class="mt-5">
				<admin-settings-notifications-tab />
      </div>
		</hlm-tabs>
	</div>
</main>