<div class="flex items-center justify-center w-full h-full">
	<div hlmCard class="w-full max-w-md mx-auto">
		<div hlmCardHeader class="flex flex-col items-center justify-center gap-3 text-center">
			<h3 hlmCardTitle>Reset Password</h3>
			<p hlmCardDescription>Enter your new password below</p>
		</div>
		<div hlmCardContent>
			<form [formGroup]="resetPasswordForm" class="flex flex-col items-start justify-evenly gap-5 w-full" (ngSubmit)="onSubmit()">
				
				<div class="flex flex-col items-start w-full gap-3">
					<label for="newPassword">New Password</label>
					<input
						hlmInput
						id="newPassword"
						placeholder="Enter your new password"
						type="password"
						class="w-full"
						formControlName="newPassword"
					/>
					<p *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="text-red-500 text-sm">
						Password is required and must be at least 6 characters.
					</p>
				</div>
				
				<div class="flex flex-col items-start w-full gap-3">
					<label for="confirmPassword">Confirm Password</label>
					<input
						hlmInput
						id="confirmPassword"
						placeholder="Confirm your new password"
						type="password"
						class="w-full"
						formControlName="confirmPassword"
					/>
					<p *ngIf="resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
						Passwords do not match.
					</p>
				</div>
				
				<div class="w-full">
					<button hlmBtn type="submit" class="w-full" [disabled]="resetPasswordForm.invalid">
						Reset Password
					</button>
				</div>
			</form>
		</div>
		<div hlmCardFooter class="flex justify-center">
			<a [routerLink]="['/auth/sign-in']">
				<button hlmBtn variant="link" class="text-sm text-gray-500">
					Back to Login
				</button>
			</a>
		</div>
	</div>
</div>
