<div hlmCard class="w-full">
	<div hlmCardHeader>
		<div class="w-full flex items-center justify-between">
			<p hlmBadge>Priority</p>
			<ng-icon name="heroEllipsisHorizontal" class="text-xl" />
		</div>
	</div>
	<div hlmCardContent class="flex flex-col gap-3">
		<h3 hlmCardTitle>Copywriting content</h3>
		<p hlmCardDescription>Description</p>
	</div>
	<div hlmCardFooter class="w-full flex items-center justify-between">
		<div class="flex items-center gap-2">
			<hlm-avatar>
				<img src='https://github.com/shadcn.png' alt='spartan logo. Resembling a spartanic shield'
				     hlmAvatarImage/>
				<span class='text-white bg-destructive' hlmAvatarFallback>RG</span>
			</hlm-avatar>
			<hlm-avatar>
				<img src='https://github.com/shadcn.png' alt='spartan logo. Resembling a spartanic shield'
				     hlmAvatarImage/>
				<span class='text-white bg-destructive' hlmAvatarFallback>RG</span>
			</hlm-avatar>
		</div>
		
		<div class="flex items-center gap-5">
			<ng-icon name="ionAttachOutline" class="text-2xl text-muted-foreground" />
			<ng-icon name="lucideMessageSquare" class="text-2xl text-muted-foreground" />
		</div>
	</div>
</div>