<site-navbar />
<main class="p-10">
  <div class="flex flex-col gap-10">
    <h1 class="text-2xl font-bold">Tasks</h1>
    <hr />
  </div>
  <div class="mt-5 w-full">
    <div class="w-full">
      <div class="flex justify-between gap-4">
        <input
          hlmInput
          class="w-full md:w-80"
          placeholder="Filter tasks..."
          [ngModel]="_taskFilter()"
          (ngModelChange)="_rawFilterInput.set($event)"
        />

        <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
          <p>Columns</p>
          <ng-icon name="lucideChevronDown" class="ml-2" />
        </button>
        <ng-template #menu>
          <hlm-menu class="w-32">
            @for (
              column of _brnColumnManager.allColumns;
              track column.name
            ) {
              <button
                hlmMenuItemCheckbox
                [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
                [checked]="_brnColumnManager.isColumnVisible(column.name)"
                (triggered)="_brnColumnManager.toggleVisibility(column.name)"
              >
                <hlm-menu-item-check />
                <span>{{ column.label }}</span>
              </button>
            }
          </hlm-menu>
        </ng-template>
      </div>
    
      <brn-table
        hlm
        stickyHeader
        class="border-border mt-4 block h-[51vh] overflow-auto custom-scrollbar rounded-md border w-full"
        [dataSource]="_filteredSortedPaginatedTasks()"
        [displayedColumns]="_allDisplayedColumns()"
        [trackBy]="_trackBy"
      >
        <brn-column-def name="select" class="w-12">
          <hlm-th *brnHeaderDef>
            <hlm-checkbox
              [checked]="_checkboxState()"
              (changed)="handleHeaderCheckboxChange()"
            />
          </hlm-th>
          <hlm-td *brnCellDef="let element">
            <hlm-checkbox
              [checked]="_isTaskSelected(element)"
              (changed)="toggleTask(element)"
            />
          </hlm-td>
        </brn-column-def>
        <brn-column-def name="title" class="w-40">
          <hlm-th truncate *brnHeaderDef>
            <button
              hlmBtn
              size="sm"
              variant="ghost"
              (click)="handleNameSortChange()"
            >
              Title
              <ng-icon class="ml-3" name="lucideArrowUpDown" />
            </button>
          </hlm-th>
          <hlm-td truncate *brnCellDef="let element">
            {{ element.title }}
          </hlm-td>
        </brn-column-def>
        <brn-column-def name="description" class="w-32">
          <hlm-th *brnHeaderDef>Description</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.description }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="status" class="w-40">
          <hlm-th *brnHeaderDef>Status</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.status }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="priority" class="w-40">
          <hlm-th *brnHeaderDef>Priority</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.priority }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="dueDate" class="w-40">
          <hlm-th *brnHeaderDef>Due Date</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.dueDate | date: "short" }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="dateAllocated" class="w-40">
          <hlm-th *brnHeaderDef>Date Allocated</hlm-th>
          <hlm-td truncate *brnCellDef="let element">{{ element.dateAllocated | date: "short" }}</hlm-td>
        </brn-column-def>
        <brn-column-def name="actions">
          <hlm-th *brnHeaderDef>Actions</hlm-th>
          <hlm-td *brnCellDef="let element">
	          <hlm-dialog>
		          <button brnDialogTrigger hlmBtn variant="outline" size="icon">
			          <ng-icon name="bootstrapEye" />
		          </button>
		          <hlm-dialog-content class="max-w-4xl" *brnDialogContent="let ctx">
			          <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 w-full mt-5">
				          
				          <!-- Left Section: Task Details -->
				          <div class="col-span-2 flex flex-col gap-10">
					          
					          <!-- Title and Description -->
					          <div class="flex flex-col items-start gap-3">
						          <h3 class="text-2xl font-bold">{{ element?.title }}</h3>
						          <p class="text-md text-muted-foreground">{{ element?.description }}</p>
					          </div>
					          
					          <!-- Task Information -->
					          <div class="flex flex-col gap-10 w-fit text-sm">
						          <!-- Priority -->
						          <div class="grid grid-cols-3 gap-10">
							          <h2 class="text-muted-foreground">Priority: </h2>
							          <div class="col-span-2 flex items-center justify-start">
								          <p hlmBadge>{{ element?.priority }}</p>
							          </div>
						          </div>
						          
						          <!-- Assigned To -->
						          <div class="grid grid-cols-3 gap-10">
							          <h2 class="text-muted-foreground">Assigned To: </h2>
							          <div class="col-span-2 flex items-center justify-start gap-2">
								          <p *ngFor="let name of names" hlmBadge variant="secondary">{{ name }}</p>
							          </div>
						          </div>
						          
						          <!-- Deadline -->
						          <div class="grid grid-cols-3 gap-10">
							          <h2 class="text-muted-foreground">Deadline: </h2>
							          <div class="col-span-2 flex items-center justify-start">
								          <p>{{ element?.dueDate }}</p>
							          </div>
						          </div>
					          </div>
				          </div>
				          
				          <!-- Right Section: Project Stats -->
				          <div class="flex flex-col gap-10">
					          <h3 class="text-lg font-bold">Project Stats</h3>
					          <div class="border border-border rounded-md px-4 py-2 text-xs">
						          <div class="flex items-center justify-between w-full">
							          <p>Remaining Time: </p>
							          <p class="pl-3">4 days</p>
						          </div>
					          </div>
				          </div>
			          
			          </div>
			          
			          <hlm-tabs tab="sub-tasks" class="w-full mt-5">
				          <div class="relative rounded-sm overflow-x-scroll lg:overflow-x-hidden overflow-y-hidden custom-scrollbar h-10 bg-muted">
					          <hlm-tabs-list class="w-full">
						          <button class="w-full" hlmTabsTrigger="sub-tasks">Sub Tasks</button>
						          <button class="w-full" hlmTabsTrigger="attachments">Attachments</button>
						          <button class="w-full" hlmTabsTrigger="comments">Comments</button>
					          </hlm-tabs-list>
				          </div>
				          
				          <div hlmTabsContent="sub-tasks" class="mt-5">
					          sub tasks
				          </div>
				          
				          <div hlmTabsContent="comments" class="mt-5">
					          comments
				          </div>
			          </hlm-tabs>
		          
		          </hlm-dialog-content>
	          
	          </hlm-dialog>
          </hlm-td>
        </brn-column-def>
        <div
          class="flex items-center justify-center p-20 text-muted-foreground"
          brnNoDataRow
        >
          No data
        </div>
      </brn-table>
    
      <div
        class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
        *brnPaginator="
          let ctx;
          totalElements: _totalElements();
          pageSize: _pageSize();
          onStateChange: _onStateChange
        "
      >
        <span class="${hlmMuted} text-sm"
          >{{ _selected().length }} of {{ _totalElements() }} row(s)
          selected</span
        >
        <div class="mt-2 flex items-center gap-10 sm:mt-0">

          <button hlmBtn variant="outline" align="end" size="sm" [brnMenuTriggerFor]="pageSizeTrigger">
            <p>{{ _pageSize() === 10000 ? "All" : _pageSize() }}</p>
            <ng-icon name="lucideChevronDown" class="ml-2" />
          </button>
          <ng-template #pageSizeTrigger>
            <hlm-menu class="w-32">
              @for (size of _availablePageSizes; track size) {
                <button
                  hlmMenuItemCheckbox
                  (click)="onOptionForPageSize(size)"
                >
                  <hlm-menu-item-check />
                  <span>{{ size === 10000 ? "All" : size }}</span>
                </button>
              }
            </hlm-menu>
          </ng-template>

          <div class="flex space-x-1">
            <button
              size="sm"
              variant="outline"
              hlmBtn
              [disabled]="!ctx.decrementable()"
              (click)="ctx.decrement()"
            >
              Previous
            </button>
            <button
              size="sm"
              variant="outline"
              hlmBtn
              [disabled]="!ctx.incrementable()"
              (click)="ctx.increment()"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>