<site-navbar/>
<main class="p-10">
	<div class="flex flex-col gap-5">
		<h1 class="text-2xl font-bold">Notifications</h1>
		<hr/>
	</div>
	
	<div class="w-full mt-5">
		<hlm-tabs tab="all" class="mx-auto">
			<div class="relative rounded-sm overflow-x-scroll md:overflow-x-hidden overflow-y-hidden custom-scrollbar h-10 bg-muted">
				<hlm-tabs-list class="w-full">
					<button class="w-full" hlmTabsTrigger="all" (click)="filterNotifications('all')">All</button>
					<button class="w-full" hlmTabsTrigger="alerts" (click)="filterNotifications('alert')">Alerts</button>
					<button class="w-full" hlmTabsTrigger="updates" (click)="filterNotifications('update')">Updates</button>
					<button class="w-full" hlmTabsTrigger="chats" (click)="filterNotifications('chat')">Chats</button>
					<button class="w-full" hlmTabsTrigger="tasks" (click)="filterNotifications('task')">Tasks</button>
					<button class="w-full" hlmTabsTrigger="meetings" (click)="filterNotifications('meeting')">Meetings</button>
				</hlm-tabs-list>
			</div>
			
			
			<div hlmTabsContent="all" class="flex flex-col gap-5 mt-5 h-96 overflow-y-scroll custom-scrollbar p-4" *ngIf="selectedTab === 'all'">
				<div hlmCard *ngFor="let notification of filteredNotifications">
					<div hlmCardHeader>
						<h4 hlmCardTitle>{{ notification.title }}</h4>
						<p hlmCardDescription>{{ notification.description }}</p>
					</div>
					<div hlmCardContent>
						<small>{{ notification.timestamp | date }}</small>
					</div>
				</div>
			</div>
			
			<div hlmTabsContent="alert" class="flex flex-col gap-5 mt-5 h-96 overflow-y-scroll custom-scrollbar p-4" *ngIf="selectedTab === 'alert'">
				<div hlmCard *ngFor="let notification of filteredNotifications">
					<div hlmCardHeader>
						<h4 hlmCardTitle>{{ notification.title }}</h4>
						<p hlmCardDescription>{{ notification.description }}</p>
					</div>
					<div hlmCardContent>
						<small>{{ notification.timestamp | date }}</small>
					</div>
				</div>
			</div>
			
			<div hlmTabsContent="update" class="flex flex-col gap-5 mt-5 h-96 overflow-y-scroll custom-scrollbar p-4" *ngIf="selectedTab === 'update'">
				<div hlmCard *ngFor="let notification of filteredNotifications">
					<div hlmCardHeader>
						<h4 hlmCardTitle>{{ notification.title }}</h4>
						<p hlmCardDescription>{{ notification.description }}</p>
					</div>
					<div hlmCardContent>
						<small>{{ notification.timestamp | date }}</small>
					</div>
				</div>
			</div>
			
			<div hlmTabsContent="chat" class="flex flex-col gap-5 mt-5 h-96 overflow-y-scroll custom-scrollbar p-4" *ngIf="selectedTab === 'chat'">
				<div hlmCard *ngFor="let notification of filteredNotifications">
					<div hlmCardHeader>
						<h4 hlmCardTitle>{{ notification.title }}</h4>
						<p hlmCardDescription>{{ notification.description }}</p>
					</div>
					<div hlmCardContent>
						<small>{{ notification.timestamp | date }}</small>
					</div>
				</div>
			</div>
			
			<div hlmTabsContent="task" class="flex flex-col gap-5 mt-5 h-96 overflow-y-scroll custom-scrollbar p-4" *ngIf="selectedTab === 'task'">
				<div hlmCard *ngFor="let notification of filteredNotifications">
					<div hlmCardHeader>
						<h4 hlmCardTitle>{{ notification.title }}</h4>
						<p hlmCardDescription>{{ notification.description }}</p>
					</div>
					<div hlmCardContent>
						<small>{{ notification.timestamp | date }}</small>
					</div>
				</div>
			</div>
			
			<div hlmTabsContent="meeting" class="flex flex-col gap-5 mt-5 h-96 overflow-y-scroll custom-scrollbar p-4" *ngIf="selectedTab === 'meeting'">
				<div hlmCard *ngFor="let notification of filteredNotifications">
					<div hlmCardHeader>
						<h4 hlmCardTitle>{{ notification.title }}</h4>
						<p hlmCardDescription>{{ notification.description }}</p>
					</div>
					<div hlmCardContent>
						<small>{{ notification.timestamp | date }}</small>
					</div>
				</div>
			</div>
		
		
		</hlm-tabs>
	</div>
	
	<div class="w-full flex items-center justify-end mt-5">
		<button hlmBtn variant="outline" (click)="clearNotifications()">Clear All</button>
	</div>
</main>
