<hlm-toaster />
<div>
  <div class="flex flex-col gap-5">
    <div class="flex items-center justify-between w-full">
      <div class="flex flex-col gap-3">
        <h1 class="text-xl font-bold">Appearance</h1>
        <p>Change how your dashboard looks and feels.</p>
      </div>

      <div class="md:flex hidden items-center gap-5">
        <button hlmBtn variant="outline">Cancel</button>
        <button hlmBtn>Save</button>
      </div>
    </div>

    <hr />
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div class="flex flex-col lg:flex-row items-start justify-between w-full">
        <label hlmLabel class="flex flex-col items-start gap-2">
          <p class="text-xl font-semibold">Brand Color *</p>
          <p>Select or customize your brand color</p>
        </label>
        <div class="lg:w-3/4 w-full lg:mt-0 mt-5 flex flex-col lg:flex-row lg:items-center items-start gap-5">
          <div class="flex items-center gap-5">

            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-red-500 hover:bg-red-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-yellow-500 hover:bg-yellow-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-green-500 hover:bg-green-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-blue-500 hover:bg-blue-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-gray-500 hover:bg-gray-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-teal-500 hover:bg-teal-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-slate-500 hover:bg-slate-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-stone-500 hover:bg-stone-800"></button>
            <button hlmBtn size="icon" class="rounded-full h-5 w-5 bg-lime-500 hover:bg-lime-800"></button>
          </div>
          <button hlmBtn variant="outline" class="w-fit">#ffffff</button>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div class="flex flex-col lg:flex-row items-start justify-between w-full">
        <label hlmLabel class="flex flex-col items-start gap-2">
          <p class="text-xl font-semibold">Display Preference</p>
          <p>Switch between light and dark modes</p>
        </label>
        <div class="lg:w-3/4 w-full flex items-center gap-5 lg:mt-0 mt-5">
          <div class="flex flex-col gap-3">
            <div class="items-center rounded-md border-2 border-muted p-1 hover:border-accent">
              <div class="space-y-2 rounded-sm bg-[#ecedef] p-2">
                <div class="space-y-2 rounded-md bg-white p-2 shadow-sm">
                  <div class="h-2 w-[80px] rounded-lg bg-[#ecedef]"></div>
                  <div class="h-2 w-[100px] rounded-lg bg-[#ecedef]"></div>
                </div>
                <div class="flex items-center space-x-2 rounded-md bg-white p-2 shadow-sm">
                  <div class="h-4 w-4 rounded-full bg-[#ecedef]"></div>
                  <div class="h-2 w-[100px] rounded-lg bg-[#ecedef]"></div>
                </div>
                <div class="flex items-center space-x-2 rounded-md bg-white p-2 shadow-sm">
                  <div class="h-4 w-4 rounded-full bg-[#ecedef]"></div>
                  <div class="h-2 w-[100px] rounded-lg bg-[#ecedef]"></div>
                </div>
              </div>
            </div>
            <div class="flex items-center gap-2">
              <hlm-checkbox [checked]="true" />
              <span class="block w-full p-2 font-normal">Light</span>
            </div>
          </div>

          <div class="flex flex-col gap-3">
            <div class="items-center rounded-md border-2 border-muted bg-popover p-1 hover:bg-accent hover:text-accent-foreground">
              <div class="space-y-2 rounded-sm bg-slate-950 p-2">
                <div class="space-y-2 rounded-md bg-slate-800 p-2 shadow-sm">
                  <div class="h-2 w-[80px] rounded-lg bg-slate-400"></div>
                  <div class="h-2 w-[100px] rounded-lg bg-slate-400"></div>
                </div>
                <div class="flex items-center space-x-2 rounded-md bg-slate-800 p-2 shadow-sm">
                  <div class="h-4 w-4 rounded-full bg-slate-400"></div>
                  <div class="h-2 w-[100px] rounded-lg bg-slate-400"></div>
                </div>
                <div class="flex items-center space-x-2 rounded-md bg-slate-800 p-2 shadow-sm">
                  <div class="h-4 w-4 rounded-full bg-slate-400"></div>
                  <div class="h-2 w-[100px] rounded-lg bg-slate-400"></div>
                </div>
              </div>
            </div>
            <div class="flex items-center gap-2">
              <hlm-checkbox />
              <span class="block w-full p-2 font-normal">Dark</span>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="flex flex-col gap-5 w-full">
    <div class="w-full flex flex-col gap-5 py-5">
      <div class="flex items-start justify-between w-full">
        <label hlmLabel class="text-xl font-semibold">Language</label>
        <div class="w-3/4 flex items-start gap-5">
          <brn-select class="inline-block w-2/5" placeholder="Select an option" [(ngModel)]="selectedValueForLanguage">
            <hlm-select-trigger class="w-full">
              <hlm-select-value>
                {{ selectedValueForLanguage ? selectedValueForLanguage : 'Select an option' }}
              </hlm-select-value>
            </hlm-select-trigger>
            <hlm-select-content class="w-full">
              <div class="h-96 overflow-y-scroll custom-scrollbar">
                <hlm-option *ngFor="let language of languages" [value]="language.value" (click)="onOption(language.value)">
                  {{ language.name }}
                </hlm-option>
              </div>
            </hlm-select-content>
          </brn-select>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="mt-5">
    <button hlmBtn variant="outline">Reset to defaults</button>
  </div>


</div>