<header class="border-b bg-white/90">
  <div class="px-10 py-4 bg-white">
    <div class="flex items-center justify-between h-16">
      <!-- Brand/Logo -->
      <a class="flex items-center gap-3 sm:gap-5" href="#">
        <ng-icon name="bootstrapGlobe" class="text-primary"></ng-icon>
        <span class="ml-2 text-lg font-bold sm:text-2xl">SyncTeam</span>
      </a>

      <!-- Navigation Menu -->
      <nav class="hidden 2xl:flex items-center gap-5">
        <a
          *ngFor="let link of links"
          [routerLink]="link.href"
          class="flex items-center gap-3 py-2 px-4 rounded-md border-transparent hover:underline hover:underline-offset-4 transition-all duration-200 ease-in-out"
          [ngClass]="{
            'text-primary font-semibold underline underline-offset-4': isActive(
              link.href
            ),
          }"
        >
          <p class="transition-all duration-200">
            {{ link.name }}
          </p>
        </a>
        <project-lead-account-nav />
      </nav>

      <div class="2xl:hidden flex items-center gap-5">
        <project-lead-account-nav />
        <hlm-sheet>
          <button
            brnSheetTrigger
            hlmBtn
            variant="outline"
            size="icon"
            side="right"
          >
            <ng-icon name="ionMenuOutline" />
          </button>
          <hlm-sheet-content *brnSheetContent="let ctx">
            <hlm-sheet-header>
              <a class="flex items-center gap-3 sm:gap-5" href="#">
                <ng-icon name="bootstrapGlobe" class="text-primary"></ng-icon>
                <span class="ml-2 text-lg font-bold sm:text-2xl">SyncTeam</span>
              </a>
            </hlm-sheet-header>
            <div class="flex flex-col p-4 space-y-5 mt-5">
              <a
                *ngFor="let link of links"
                [href]="link.href"
                class="flex items-center gap-3 py-2 px-4 rounded-md border-transparent hover:bg-secondary hover:border-border hover:border transition-all duration-200 ease-in-out"
                [ngClass]="{
                  'text-primary font-semibold border-border bg-secondary':
                    isActive(link.href),
                }"
              >
                <p class="text-sm transition-all duration-200">
                  {{ link.name }}
                </p>
              </a>
            </div>
          </hlm-sheet-content>
        </hlm-sheet>
      </div>
    </div>
  </div>
</header>