<div class="grid grid-cols-2 lg:grid-cols-4 w-full gap-5">
  <div hlmCard class="hover:shadow-xl duration-500 transition-all w-full">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="text-xl">Active Employees</h3>
    </div>
    <div hlmCardContent class="flex flex-col items-start space-y-4">
      <div class="flex items-center gap-5">
        <ng-icon name="heroUser" class="text-2xl" />
        <p class="text-lg">{{ activeEmployees }}</p>
      </div>
    </div>
  </div>

  <div hlmCard class="hover:shadow-xl duration-500 transition-all w-full">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="text-xl">No. of Projects</h3>
    </div>
    <div hlmCardContent class="flex flex-col items-start space-y-4">
      <div class="flex items-center gap-5">
        <ng-icon name="heroUser" class="text-2xl" />
        <p class="text-lg">{{ projectCount }}</p>
      </div>
    </div>
  </div>

  <div hlmCard class="hover:shadow-xl duration-500 transition-all w-full">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="text-xl">Pending tasks</h3>
    </div>
    <div hlmCardContent class="flex flex-col items-start space-y-4">
      <div class="flex items-center gap-5">
        <ng-icon name="heroUser" class="text-2xl" />
        <p class="text-lg">{{ pendingTasks }}</p>
      </div>
    </div>
  </div>

  <div hlmCard class="hover:shadow-xl duration-500 transition-all w-full">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="text-xl">Overdue Tasks</h3>
    </div>
    <div hlmCardContent class="flex flex-col items-start space-y-4">
      <div class="flex items-center gap-5">
        <ng-icon name="heroUser" class="text-2xl" />
        <p class="text-lg">{{ overdueTasks }}</p>
      </div>
    </div>
  </div>
</div>

